extends ../layout

block content
	//Titulo
	section.banner-create-section
		.container
			h1.text-black.mb-4.text-uppercase.font-weight-bolder Nuevo Usuario
			a.btn.btn-primary.js-scroll-trigger.font-weight-bolder(href='/users') Página anterior

	section
		.container
			br
			form(action='/users/create' method='post')
				.form-group
						label.font-weight-bolder(for='name') Nombre 
						input#name.form-control(type='text' name='name' value= user.name class=errors.name ? 'is-invalid' : '')
						if errors.name
								small#nameHelp.text-danger
									= errors.name.message  
				.form-group
						label.font-weight-bolder(for='email') Email: 
						input#email.form-control(type='text' name='email' value= user.email class= errors.email ? 'is-invalid' : '')
						if errors.email
								small#emailHelp.text-danger
									= errors.email.message  
				.form-group
						label.font-weight-bolder(for='pwd') Password: 
						input#pwd.form-control(type='password' name='password' class= errors.password ? 'is-invalid' : '')
						if errors.password
								small#passwordHelp.text-danger
									= errors.password.message  
				.form-group
						label.font-weight-bolder(for='confirm_pwd') Confirm Password: 
						input#confirm_pwd.form-control(type='password' name='confirm_password' class= errors.confirm_password ? 'is-invalid' : '')
						if errors.confirm_password
								small#confirm_passwordHelp.text-danger
									= errors.confirm_password.message  
				input.font-weight-bolder.btn.btn-primary.js-scroll-trigger(type='submit' value='Agregar usuario')