extends ../layout

block content
  //Titulo
  section.banner-title-section
    .container
      h1.text-white.mb-4.text-uppercase.font-weight-bolder Usuarios Registrados
      a.btn.btn-primary.js-scroll-trigger.font-weight-bolder(href="/users/create").mb-5 Nuevo usuario
  //tabla de usuarios
  section  
    .container
      section.table-responsive-sm
        table.table
          thead
            tr  
              th.text-uppercase(scope='col') #
              th.text-uppercase(scope='col') Nombre
              th.text-uppercase(scope='col') Email
              th.text-uppercase(scope='col') Verificado
              th.text-uppercase(scope='col')
              th.text-uppercase(scope='col')
          tbody
            each user in users
              tr
                td(scope='row') 
                  = user.id
                td= user.name
                td= user.email
                td= user.verified ? 'SI' : 'NO'
                td
                  a.btn.btn-warning.font-weight-bolder(href= 'users/' + user.id + '/update') Editar
                td
                  form.inline(method='post' action='users/' + user.id + '/delete')
                      input(type='hidden' name='id' value= user.id)
                      button.btn.btn-danger.link-button.font-weight-bolder(type='submit' name='submit_param' value='submit_value' class='btn')
                          = 'Eliminar'  
