extends ../layout

block content
  //Titulo
  section.banner-update-section
    .container
      h1.text-white.mb-4.text-uppercase.font-weight-bolder Actualizar Usuario
      a.btn.btn-primary.js-scroll-trigger.font-weight-bolder(href='/users') Página anterior

  //Actualizar Bicicleta
  section
    .container
      br
      form(action=`/users/${user.id}/update` method='post')
        .form-group
          label.font-weight-bolder(for='name') Nombre
          input#name.form-control(type='text' name='name' value= user.name class=errors.name ? 'is-invalid' : '')
          if errors.name
              small#nameHelp.text-danger
                = errors.name.message
        br
        input.btn.btn-primary(type='submit' value='Actualizar usuario')
